Embebido/Proyecto_sin_Vibecoding/infrastructure/node-red/flows.json
[
    { "id": "soaflow", "type": "tab", "label": "Main", "disabled": false, "info": "" },
    {
        "id": "brk",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    { "id": "soadb", "type": "sqlitedb", "db": "/data/tares.db", "mode": "RWC" },
    {
        "id": "in-status",
        "type": "mqtt in",
        "z": "soaflow",
        "name": "Subscribe to :device/system topic",
        "topic": "+/system",
        "qos": "1",
        "datatype": "json",
        "broker": "brk",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 160,
        "wires": [["b5fac0c4d7760516"]]
    },
    {
        "id": "in-stock",
        "type": "mqtt in",
        "z": "soaflow",
        "name": "Subscribe to :device/:shelf/stock topic",
        "topic": "+/+/stock",
        "qos": "1",
        "datatype": "json",
        "broker": "brk",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 280,
        "wires": [["b5fac0c4d7760516"]]
    },
    {
        "id": "in-security",
        "type": "mqtt in",
        "z": "soaflow",
        "name": "Subscribe to :device/:shelf/security topic",
        "topic": "+/+/security",
        "qos": "1",
        "datatype": "json",
        "broker": "brk",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 340,
        "wires": [["b5fac0c4d7760516"]]
    },
    {
        "id": "http-get-state",
        "type": "http in",
        "z": "soaflow",
        "name": "GET /api/:device",
        "url": "/api/:device",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 460,
        "wires": [["fn-get-state"]]
    },
    {
        "id": "fn-get-state",
        "type": "function",
        "z": "soaflow",
        "name": "Get cached data",
        "func": "const { device } = msg.req.params\n\nif (!device) {\n    msg.statusCode = 400\n    msg.payload = {\n        error: \"Missing parameter `device`.\"\n    }\n\n    return msg\n}\n\nconst data = flow.get(device)\n\nif (!data) {\n    msg.statusCode = 404\n    msg.payload = {\n        error: `Flow variable \\`${device}\\` not found.`\n    }\n\n    return msg\n}\n\nmsg.statusCode = 200\nmsg.payload = data\n\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 460,
        "wires": [["http-resp"]]
    },
    {
        "id": "http-cmd-stock",
        "type": "http in",
        "z": "soaflow",
        "name": "POST /api/:device/stock",
        "url": "/api/:device/stock",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 560,
        "wires": [["fn-stock"]]
    },
    {
        "id": "fn-stock",
        "type": "function",
        "z": "soaflow",
        "name": "Activate/Deactivate stock mode",
        "func": "const { device } = msg.req.params\nconst { status } = msg.req.body\n\nif (!device) {\n    msg.statusCode = 400\n    msg.payload = {\n        error: \"Missing parameter `device`.\"\n    }\n\n    return [msg, null]\n} else if (typeof status !== \"string\" || ![\"ON\", \"OFF\"].includes(status.toUpperCase())) {\n    msg.statusCode = 400\n    msg.payload = {\n        error: 'Missing `status` on request body or invalid value. Must be `\"ON\"` or `\"OFF\"`.'\n    }\n\n    return [msg, null]\n}\n\nmsg.statusCode = 200\nmsg.topic = `${device}/stock`\nmsg.payload = {\n    status: status.toUpperCase()\n}\n\nconst response = { ...msg }\ndelete response.topic\ndelete response.payload\n\nreturn [response, msg]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 560,
        "wires": [["09fe019539f3c074"], ["106249346a54f770"]]
    },
    {
        "id": "http-cmd-security",
        "type": "http in",
        "z": "soaflow",
        "name": "POST /api/:device/security",
        "url": "/api/:device/security",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 680,
        "wires": [["fn-security"]]
    },
    {
        "id": "fn-security",
        "type": "function",
        "z": "soaflow",
        "name": "Activate/Deactivate security mode",
        "func": "const { device } = msg.req.params\nconst { status } = msg.req.body\n\nif (!device) {\n    msg.statusCode = 400\n    msg.payload = {\n        error: \"Missing parameter `device`.\"\n    }\n\n    return [msg, null]\n} else if (typeof status !== \"string\" || ![\"ON\", \"OFF\"].includes(status.toUpperCase())) {\n    msg.statusCode = 400\n    msg.payload = {\n        error: 'Missing `status` on request body or invalid value. Must be `\"ON\"` or `\"OFF\"`.'\n    }\n\n    return [msg, null]\n}\n\nmsg.statusCode = 200\nmsg.topic = `${device}/security`\nmsg.payload = {\n    status: status.toUpperCase()\n}\n\nconst response = { ...msg }\ndelete response.topic\ndelete response.payload\n\nreturn [response, msg]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 680,
        "wires": [["3ffe68f419721ccb"], ["out-cmd"]]
    },
    {
        "id": "http-cmd-alarm",
        "type": "http in",
        "z": "soaflow",
        "name": "POST /api/:device/security/alarm",
        "url": "/api/:device/security/alarm",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 800,
        "wires": [["fn-alarm"]]
    },
    {
        "id": "fn-alarm",
        "type": "function",
        "z": "soaflow",
        "name": "Activate/Deactivate alarm",
        "func": "const { device } = msg.req.params\nconst { status } = msg.req.body\n\nif (!device) {\n    msg.statusCode = 400\n    msg.payload = {\n        error: \"Missing parameter `device`.\"\n    }\n\n    return [msg, null]\n} else if (typeof status !== \"string\" || ![\"MUTE\", \"UNMUTE\"].includes(status.toUpperCase())) {\n    msg.statusCode = 400\n    msg.payload = {\n        error: 'Missing `status` on request body or invalid value. Must be `\"MUTE\"` or `\"UNMUTE\"`.'\n    }\n\n    return [msg, null]\n}\n\nmsg.statusCode = 200\nmsg.topic = `${device}/security/alarm`\nmsg.payload = {\n    status: status.toUpperCase()\n}\n\nconst response = { ...msg }\ndelete response.topic\ndelete response.payload\n\nreturn [response, msg]\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 800,
        "wires": [["1c9ca17f10755fb3"], ["e548a4767562ee55"]]
    },
    {
        "id": "out-cmd",
        "type": "mqtt out",
        "z": "soaflow",
        "name": "Publish message to :device/security topic (MQTT)",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "brk",
        "x": 1050,
        "y": 700,
        "wires": []
    },
    {
        "id": "http-resp",
        "type": "http response",
        "z": "soaflow",
        "name": "Send response (HTTP)",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "db-init",
        "type": "inject",
        "z": "soaflow",
        "name": "Initialize SQLite databases (once)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 240,
        "y": 940,
        "wires": [["soa-sql-init"]]
    },
    {
        "id": "soa-sql-init",
        "type": "sqlite",
        "z": "soaflow",
        "mydb": "soadb",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS tares (\n    device_id TEXT,\n    shelf_id TEXT,\n    offset INTEGER,\n    last_update INTEGER,\n    PRIMARY KEY(device_id, shelf_id)\n);\n",
        "name": "Create tares database",
        "x": 980,
        "y": 940,
        "wires": [[]]
    },
    {
        "id": "in-tare-req",
        "type": "mqtt in",
        "z": "soaflow",
        "name": "Subscribe to :device/:shelf/tare/request",
        "topic": "+/+/tare/request",
        "qos": "1",
        "datatype": "utf8",
        "broker": "brk",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1000,
        "wires": [["fn-tare-select"]]
    },
    {
        "id": "fn-tare-select",
        "type": "function",
        "z": "soaflow",
        "name": "Inject data into the message parameters",
        "func": "const [device, shelf] = msg.topic.split(\"/\")\n\nif (!device || !shelf) return null\n\nmsg.params = {\n    $deviceID: device,\n    $shelfID: shelf\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1000,
        "wires": [["soa-sql-select"]]
    },
    {
        "id": "soa-sql-select",
        "type": "sqlite",
        "z": "soaflow",
        "mydb": "soadb",
        "sqlquery": "prepared",
        "sql": "SELECT\n    offset,\n    last_update\nFROM tares\nWHERE\n    device_id = $deviceID\n    AND shelf_id = $shelfID;\n",
        "name": "Get tare data",
        "x": 950,
        "y": 1000,
        "wires": [["fn-tare-state"]]
    },
    {
        "id": "fn-tare-state",
        "type": "function",
        "z": "soaflow",
        "name": "Inject tare data into message and more",
        "func": "const { $deviceID: deviceID, $shelfID: shelfID } = msg.params\nconst { offset, last_update: lastUpdate } = msg.payload.length ? msg.payload[0] : [{}]\n\nif (!deviceID || !shelfID) return null\n\nmsg.topic = `${deviceID}/${shelfID}/tare`\n\nif (offset === undefined || lastUpdate === undefined) {\n    msg.payload = {}\n    return msg\n}\n\nlet data = flow.get(deviceID)\n\ndata ??= {}\ndata.shelves ??= {}\ndata.shelves[shelfID] ??= {}\ndata.shelves[shelfID].tare = {\n    offset,\n    lastUpdate\n}\n\nflow.set(deviceID, data)\n\nmsg.payload = {\n    offset,\n    lastUpdate\n}\n\ndelete msg.deviceID\ndelete msg.shelfID\n\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1000,
        "wires": [["out-tare-state"]]
    },
    {
        "id": "out-tare-state",
        "type": "mqtt out",
        "z": "soaflow",
        "name": "Publish message to :device/:shelf/tare topic (MQTT)",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "brk",
        "x": 1590,
        "y": 1000,
        "wires": []
    },
    {
        "id": "in-tare-save",
        "type": "mqtt in",
        "z": "soaflow",
        "name": "Subscribe to :device/:shelf/tare/save",
        "topic": "+/+/tare/save",
        "qos": "1",
        "datatype": "json",
        "broker": "brk",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1060,
        "wires": [["fn-tare-upsert"]]
    },
    {
        "id": "fn-tare-upsert",
        "type": "function",
        "z": "soaflow",
        "name": "Inject data into the message parameters and more",
        "func": "const [device, shelf] = msg.topic.split(\"/\")\nconst { offset } = msg.payload\n\nif (!device || !shelf || offset === undefined) return null\n\nlet data = flow.get(device)\n\ndata ??= {}\ndata.shelves ??= {}\ndata.shelves[shelf] ??= {}\n\nconst lastUpdate = Date.now()\n\ndata.shelves[shelf].tare = {\n    offset: parseInt(offset),\n    lastUpdate\n}\n\nflow.set(device, data)\n\nmsg.params = {\n    $deviceID: device,\n    $shelfID: shelf,\n    $offset: data.shelves[shelf].tare.offset,\n    $lastUpdate: data.shelves[shelf].tare.lastUpdate\n}\n\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1060,
        "wires": [["soa-sql-upsert"]]
    },
    {
        "id": "soa-sql-upsert",
        "type": "sqlite",
        "z": "soaflow",
        "mydb": "soadb",
        "sqlquery": "prepared",
        "sql": "INSERT INTO tares (\n    device_id,\n    shelf_id,\n    offset,\n    last_update\n) VALUES (\n    $deviceID,\n    $shelfID,\n    $offset,\n    $lastUpdate\n) ON CONFLICT(device_id, shelf_id) DO UPDATE SET offset=$offset, last_update=$lastUpdate;\n",
        "name": "Insert tare data",
        "x": 960,
        "y": 1060,
        "wires": [[]]
    },
    {
        "id": "106249346a54f770",
        "type": "mqtt out",
        "z": "soaflow",
        "name": "Publish message to :device/stock topic (MQTT)",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "brk",
        "x": 1040,
        "y": 580,
        "wires": []
    },
    {
        "id": "e548a4767562ee55",
        "type": "mqtt out",
        "z": "soaflow",
        "name": "Publish message to :device/security/alarm topic (MQTT)",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "brk",
        "x": 1070,
        "y": 820,
        "wires": []
    },
    {
        "id": "09fe019539f3c074",
        "type": "http response",
        "z": "soaflow",
        "name": "Send response (HTTP)",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "3ffe68f419721ccb",
        "type": "http response",
        "z": "soaflow",
        "name": "Send response (HTTP)",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 660,
        "wires": []
    },
    {
        "id": "1c9ca17f10755fb3",
        "type": "http response",
        "z": "soaflow",
        "name": "Send response (HTTP)",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 780,
        "wires": []
    },
    {
        "id": "00e7fe9b8592da1e",
        "type": "mqtt in",
        "z": "soaflow",
        "name": "Subscribe to :device/health topic",
        "topic": "+/health",
        "qos": "1",
        "datatype": "json",
        "broker": "brk",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 100,
        "wires": [["b5fac0c4d7760516"]]
    },
    {
        "id": "daecac8d522f8a10",
        "type": "inject",
        "z": "soaflow",
        "name": "Print rows of tares database",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 1300,
        "wires": [["be345736d2571cf3"]]
    },
    {
        "id": "be345736d2571cf3",
        "type": "sqlite",
        "z": "soaflow",
        "mydb": "soadb",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM tares;\n",
        "name": "Get all rows from tares database",
        "x": 1010,
        "y": 1300,
        "wires": [["cf3c07840c48730a"]]
    },
    {
        "id": "cf3c07840c48730a",
        "type": "debug",
        "z": "soaflow",
        "name": "Print rows",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1300,
        "wires": []
    },
    {
        "id": "78f90dfd7a08444f",
        "type": "inject",
        "z": "soaflow",
        "name": "Delete all rows from tares database",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 1360,
        "wires": [["8cf3a36a28a6ac69"]]
    },
    {
        "id": "8cf3a36a28a6ac69",
        "type": "sqlite",
        "z": "soaflow",
        "mydb": "soadb",
        "sqlquery": "fixed",
        "sql": "DELETE FROM tares;\n",
        "name": "Delete all rows from tares database",
        "x": 1020,
        "y": 1360,
        "wires": [[]]
    },
    {
        "id": "ee443b384b68f9e0",
        "type": "mqtt in",
        "z": "soaflow",
        "name": "Subscribe to :device/alarm topic",
        "topic": "+/alarm",
        "qos": "1",
        "datatype": "json",
        "broker": "brk",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 220,
        "wires": [["b5fac0c4d7760516"]]
    },
    {
        "id": "b0334b54fb6a885c",
        "type": "inject",
        "z": "soaflow",
        "name": "Delete cache",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "corridor-01",
        "payloadType": "str",
        "x": 170,
        "y": 1240,
        "wires": [["4be5c0bb13a74e78"]]
    },
    {
        "id": "4be5c0bb13a74e78",
        "type": "function",
        "z": "soaflow",
        "name": "Delete cache",
        "func": "flow.set(msg.payload, undefined)",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1240,
        "wires": [[]]
    },
    {
        "id": "b5fac0c4d7760516",
        "type": "function",
        "z": "soaflow",
        "name": "Cache data",
        "func": "const [device, ...rest] = msg.topic.split(\"/\")\n\nlet shelf\nlet type\n\nif (rest.length === 1) {\n    type = rest[0]\n} else {\n    shelf = rest[0]\n    type = rest[1]\n}\n\nlet data = flow.get(device)\ndata ??= {}\n\nswitch (type) {\n    case \"health\":\n        data.health = msg.payload\n        break\n\n    case \"system\":\n        data.system = msg.payload\n        break\n\n    case \"alarm\":\n        data.alarm = msg.payload\n        break\n\n    case \"stock\":\n        data.shelves ??= {}\n        data.shelves[shelf] ??= {}\n        data.shelves[shelf].stock = msg.payload\n        break\n\n    case \"security\":\n        data.shelves ??= {}\n        data.shelves[shelf] ??= {}\n        data.shelves[shelf].security = msg.payload\n        break\n\n    default:\n        break\n}\n\ndata.lastUpdate = Date.now()\n\nflow.set(device, data)\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "312dd0b9c9b07942",
        "type": "inject",
        "z": "soaflow",
        "name": "Print cache",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "corridor-01",
        "payloadType": "str",
        "x": 160,
        "y": 1180,
        "wires": [["a21b58cd18c8e326"]]
    },
    {
        "id": "a21b58cd18c8e326",
        "type": "function",
        "z": "soaflow",
        "name": "Get cache",
        "func": "msg.payload = flow.get(msg.payload)\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1180,
        "wires": [["68e9d82d6a19d1d7"]]
    },
    {
        "id": "68e9d82d6a19d1d7",
        "type": "debug",
        "z": "soaflow",
        "name": "Print cache",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 1180,
        "wires": []
    }
]
